* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    border: border-box;
}
.navbar {
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
}

.nav-logo {
    height: 50px;
    width: 110px;
}

.logo {
    background-image: url("./assets/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.loc-1 {
    color: #ccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
.loc-2 {
    font-size: 1rem;
    margin-left: 4px;
}
.loc-icon {
    display: flex;
    align-items: center;
}
.border {
    border: 1.5px solid transparent;
}
.border:hover {
    border: 1.5px solid white;
}